<h1>Eat-Da-Burger</h1>

<ul>
  {{#each burgers}}
  <li>
    <p>
      {{this.id}}. {{this.burger_name}}

      <button data-burgerid="{{this.id}}" class="delburger">Devour it!</button>
    </p>
  </li>
  {{/each}}
</ul>

<h2>Create a Burger</h2>
<form id="createburger" class="button-size">
  <textarea type="text" name="burger"></textarea>
  <button type="submit">Cook Burger!</button>
</form>


<script type="text/javascript">
  $(".delburger").on("click", function (event) {
    var id = $(this).data("burgerid");

    $.ajax("/api/burgers/" + id, {
      type: "DELETE"
    }).then(
      function () {
        console.log("deleted id ", id);
        location.reload();
      }
    );
  });

  $("#createburger").on("submit", function (event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newBurger = {
      burger_name: $("#createburger [name=burger]").val()
    };

    // Send the POST request.
    $.ajax("/api/burgers/", {
      type: "POST",
      data: newBurger
    }).then(
      function () {
        console.log("created new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

</script>